<div class="col-lg-4">
  <ul class="d-flex search-div-flex justify-content-md-end">
    <li>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder=""
          name="search"
          id="search"
          onfocusout="SearchData(event)"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <div class="icon-div">
          <img
            class="search-icon"
            src="/assets/images/icon/dash-search.png"
            alt=""
          />
        </div>
      </div>
    </li>

    <li class="navbar filter-div">
      <div class="dropdown">
        <div
          class="dropdown-toggle drop-icon-bg"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            class="filter-fafa"
            src="/assets/images/icon/filter.png"
            alt="max-height"
          />
        </div>

        <ul class="dropdown-menu">
          <li>
            <a href="#" class="dropdown-item">By State</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">By City</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">By Pincode</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">By Category</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">By Tags</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">By Partner Name</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Active</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Pending</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Expired</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="navbar filter-div">
      <div class="dropdown">
        <div
          class="dropdown-toggle drop-icon-bg"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            class="option-fafa"
            src="/assets/images/icon/option.png"
            alt="max-height"
          />
        </div>

        <ul class="dropdown-menu">
          <li>
            <a
              href="http://xitysiteadmin.profcymadev.in:5000/directory/bussiness-user/create"
              class="dropdown-item"
              >Add</a
            >
          </li>
          <li>
            <a
              href="http://xitysiteadmin.profcymadev.in:5000/directory/bussiness-user/edit"
              class="dropdown-item"
              >Edit</a
            >
          </li>
          <li>
            <a href="#" class="dropdown-item">Delete</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Update</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">View All </a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Active</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Pending</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Expired</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
