<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xitysites</title>
    <link rel="shortcut icon" href="assets/icon/images/" type="image/png">
    <link rel="stylesheet" href="assets/style/legal-dashboard.css">
    <link rel="stylesheet" href="assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome-free-6.2.0-web/css/all.css">
    <link rel="stylesheet" href="assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-0">
        <section class="dashboard">
            <div class="d-flex dashflex-bg" id="addFlex">

                <div class="" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">                            
                    <div class="offcanvas-body p-0">
                        <div class="sec-1">                    
                            <div class="logo-div">
                                <a href="https://xitysites.profcymadev.in/"><img class="logo-img" src="assets/images/logo/logo.png" alt="logo"></a>
                                <p class="logo-title">LEGAL</p>
                            </div>

                            <div class="close-fafa-div">
                                <i class="fa fa-times-circle-o close-fafa" aria-hidden="true" data-bs-dismiss="offcanvas" aria-label="Close"></i>
                            </div>


                            <div class="top-search">
                                <div class="mt-4">
                                    <form class="form-material">
                                        <div id="searchtop" class="form-group form-primary">
                                            <input type="text" name="footer-email" class="form-control" required="">
                                            <span class="form-bar"></span>
                                            <label class="float-label "><i class="fa fa-search search-icon"></i>Search</label>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="dash-main-menu">
                                <div class="accordion accordion-flush " id="accordionFlushExample">
                                    <div class="mt-5">
                                        <p class="menu-title">WEBSITE T’S & C’S</p>
                                    </div>

                                    <div class="accordion-item tab-heading-01 mt-4">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed scale-in-hor-right addimg"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                                <b></b>
                                                <b></b>
                                                <!-- <img class="dash-menu-icon" id="hide"
                                                    src="assets/images/icon/dashboard1.png" alt="">
                                                <img class="dash-menu-icon imgnone" id="show"
                                                    src="assets/images/icon/dashboard2.png" alt=""> -->
                                                    <i class="fa-solid fa-gauge dash-menu-icon"></i>
                                                     Terms of use
                                            </button>
                                        </h2>

                                        
                                        <div id="flush-collapseOne" class="accordion-collapse collapse "
                                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body inner-accordion">

                                                <div class="accordion accordion-flush " id="accordionFlushExampleInner1">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Notices
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>

                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i> Terms 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>                                                

                                                    
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Privacy
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Cookies
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Copyright
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  User Info 	
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Accessibility
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Disclaimer
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bd-bottom"></div>

                                    <div class="mt-4">
                                        <p class="menu-title">USER T’S & C’S </p>
                                    </div>

                                    <div class="accordion-item tab-heading-01">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed addimg1" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                                <b></b>
                                                <b></b>
                                                <!-- <img class="dash-menu-icon" id="hide1"
                                                    src="assets/images/icon/dashboard1.png" alt="">
                                                <img class="dash-menu-icon imgnone" id="show1"
                                                    src="assets/images/icon/dashboard2.png" alt="">   -->
                                                    <i class="fa-solid fa-chart-simple dash-menu-icon"></i>
                                                    General 
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse "
                                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body inner-accordion">

                                                <div class="accordion accordion-flush " id="accordionFlushExampleInner1">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         User
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Business
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Buying & Selling 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Law Enforcement
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                                                      

                                    <div class="bd-bottom"></div>

                                    <div class="mt-4">
                                        <p class="menu-title">PROMOTION T’S & C’S  </p>
                                    </div>

                                    <div class="accordion-item mt-4">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed addimg2" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                aria-expanded="false" aria-controls="flush-collapseThree">
                                                <b></b>
                                                <b></b>
                                                <i class="fa-sharp fa-solid fa-file-audio dash-menu-icon"></i> Banner Ads
                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree" class="accordion-collapse collapse "
                                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body inner-accordion">

                                                <div class="accordion accordion-flush " id="accordionFlushExampleInner1">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         AD Policies 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  AD Creative Specs
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>                                                    
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Self-Service Ads 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  AD Payment 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bd-bottom"></div>

                                    <div class="mt-4">
                                        <p class="menu-title">SERVICES T’S & C’S </p>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <a class="menu-link" href="">
                                                <button class="accordion-button collapsed addimg2" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="" aria-expanded="false"
                                                    aria-controls="">
                                                    <i class="fa-solid fa-folder-open dash-menu-icon"></i>  Directory    
                                                </button>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <a class="menu-link" href="">
                                                <button class="accordion-button collapsed addimg2" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="" aria-expanded="false"
                                                    aria-controls="">
                                                    <i class="fa-solid fa-store dash-menu-icon"></i>
                                                      Marketplace   
                                                </button>
                                            </a>
                                        </h2>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                                                aria-expanded="false" aria-controls="flush-collapseFour">
                                                <b></b>
                                                <b></b>
                                                <!-- <img class="dash-menu-icon" id="hide3"
                                                    src="assets/images/icon/dashboard1.png" alt="">
                                                <img class="dash-menu-icon imgnone" id="show3"
                                                    src="assets/images/icon/dashboard2.png" alt=""> -->
                                                    <i class="fa fa-users dash-menu-icon" aria-hidden="true"></i> Community   
                                            </button>
                                        </h2>
                                        <div id="flush-collapseFour" class="accordion-collapse collapse "
                                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body inner-accordion">

                                                <div class="accordion accordion-flush " id="accordionFlushExampleInner1">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Respect 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Discrimination 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    

                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Discussion 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>

                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Identity 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Activity
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed addimg4" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                                                aria-expanded="false" aria-controls="flush-collapseFive">
                                                <b></b>
                                                <b></b>
                                                <!-- <img class="dash-menu-icon" id="hide4"
                                                    src="assets/images/icon/dashboard1.png" alt="">
                                                <img class="dash-menu-icon imgnone" id="show4"
                                                    src="assets/images/icon/dashboard2.png" alt=""> -->
                                                    <i class="fa fa-external-link dash-menu-icon" aria-hidden="true"></i>
                                                     Others   
                                            </button>
                                        </h2>
                                        <div id="flush-collapseFive" class="accordion-collapse collapse "
                                            aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body inner-accordion">

                                                <div class="accordion accordion-flush " id="accordionFlushExampleInner1">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Deals & Coupons
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Delivery
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>  Jobs
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Events
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Webinar
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Forum
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         E-learning
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Rfq
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Contribute
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Delivery
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingTwo">
                                                            <a class="menu-link" href="">
                                                                <button id="addactivesubmenu"
                                                                    class="without-drop-accordion-button-inner addddd collapsed active-sub-menu"
                                                                    type="button" data-bs-toggle="collapse"
                                                                    data-bs-target="" aria-expanded="false"
                                                                    aria-controls="">
                                                                    <i class="fa-solid fa-gavel dash-menu-icon"></i>
                                                                         Marketing 
                                                                </button>
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <a class="menu-link" href="">
                                                <button class="accordion-button collapsed addimg2" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="" aria-expanded="false"
                                                    aria-controls="">
                                                    <i class="fa-brands fa-xing dash-menu-icon"></i> Xzibit      
                                                </button>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <a class="menu-link" href="">
                                                <button class="accordion-button collapsed addimg2" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="" aria-expanded="false"
                                                    aria-controls="">
                                                    <i class="fa-solid fa-users-gear dash-menu-icon"></i> Government      
                                                </button>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <a class="menu-link" href="">
                                                <button class="accordion-button collapsed addimg2" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="" aria-expanded="false"
                                                    aria-controls="">
                                                    <i class="fa-brands fa-xbox dash-menu-icon"></i>  X-Club   
                                                </button>
                                            </a>
                                        </h2>
                                    </div>

                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>

                <div class="sec-2"> 
                    <div class="d-flex mob-row">
                        <div class="">
                            <div class="head-logo-mob">
                                <img src="assets/images/logo/logo.png" alt="">
                                <br>
                                <span>LEGAL</span>
                            </div>
                        </div>
                        <div class="fafa-bar-align">
                            <div class="fafa-bar">                                                    
                                <i  class="fa fa-bars fafa-bar-img" aria-hidden="true" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"></i>
                            </div>
                        </div>
                    </div>  
                    
                    
                    <div class="row bread-bd">                        
                        <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-7 col-sm-7 col-12">
                            <div class="bread-div">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a class="bread-link" href="#">Legal </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page"><a
                                                class="bread-link active-bread" href="#"> Main Menu Title</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><a
                                            class="bread-link active-bread" href="#">Sub-Menu title</a></li>        
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
                            <div class="search-div">
                                <div class="text-center search mx-auto">
                                    <div id="inputwidth" class="input-group inputtransform">
                                        <input id="inputwidthid" type="text" class="form-control"
                                            placeholder="Search..." aria-label="Recipient's username"
                                            aria-describedby="button-addon2"></input>
                                        <div class="icon-div">
                                            <img class="search-icon" src="assets/images/icon/dash-search.png"
                                                alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>
    </div>


    <script src="assets/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="assets/jquery/jquery-3.6.1.min.js"></script>
    <script src="assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.0/lottie.min.js"
        integrity="sha512-17otjw7eTNU9MtpB7mFfXEwB6yDjA2qjDFkKSvsywI1PRAgpyOo+cp/wPSE/1kK4fFjA9OKsZVO1tr93MGNCEw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function(){
            $("#searchtop").click(function(){
            $("#searchtop .float-label").toggleClass("float-label-top");
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $("#inputwidth").click(function(){
            $(".inputtransform").toggleClass("inputextend");
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $("#addactivesubmenu").click(function(){
            $(".addddd").toggleClass("active-sub-menu");
            });
        });
    </script>
  
    <script>
        $(window).on('load', function (){
            var alterClass = function () {
                var width = document.body.clientWidth;
                if (width < 769) {
                    $('#offcanvasScrolling').addClass('offcanvas offcanvas-start');            
                } else if (width >= 768) {
                    $('#offcanvasScrolling').removeClass('offcanvas offcanvas-start');
                    
                };
            };

            $(window).resize(function () {
                alterClass();
            });
            alterClass();
        });
    </script>

</body>

</html>