<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Xitysites</title>
    <link rel="shortcut icon" href="assets/icon/images/" type="image/png" />
    <link rel="stylesheet" href="assets/style/header.css" />
    <link rel="stylesheet" href="assets/style/common.css" />
    <link rel="stylesheet" href="assets/style/footer.css" />
    <link
      rel="stylesheet"
      href="assets/bootstrap-5.0.2-dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/fontawesome-free-6.2.0-web/css/all.css"
    />
    <link
      rel="stylesheet"
      href="assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container-fluid ps-0">
      <section class="main-section">
        <section class="top-nav">
          <div class="container">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid p-0">
                <a class="navbar-brand" href="#"
                  ><img
                    class="head-logo"
                    src="assets/images/logo/xitylogo.png"
                    alt=""
                /></a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <div class="d-flex ms-auto">
                    <button class="btn expand" type="submit">
                      <img src="assets/images/icon/expand_icon.png" alt="" />
                    </button>

                    <button class="btn search" type="submit">
                      <img src="assets/images/icon/search_icon.png" alt="" />
                    </button>
                    <div class="user-img-holder ms-4">
                      <a href="login.html">
                        <img src="assets/images/user/1.png" alt="" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </section>

        <section class="login">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-9 mx-auto">
                  <div class="section-1">
                    <!-- <h1 class="main-title">WELCOME TO <span class="span-main-title">XITY</span> ADMIN
                                        PANEL</h1> -->

                    <h1 class="waviy">
                      <span class="main-title" style="--i: 1">W</span>
                      <span class="main-title" style="--i: 2">E</span>
                      <span class="main-title" style="--i: 3">L</span>
                      <span class="main-title" style="--i: 4">C</span>
                      <span class="main-title" style="--i: 5">O</span>
                      <span class="main-title" style="--i: 6">M</span>
                      <span class="main-title" style="--i: 7">E</span
                      >&nbsp;&nbsp;
                      <span class="main-title" style="--i: 8">T</span>
                      <span class="main-title" style="--i: 9">O</span
                      >&nbsp;&nbsp;
                      <span class="span-main-title" style="--i: 10">X</span>
                      <span class="span-main-title" style="--i: 11">I</span>
                      <span class="span-main-title" style="--i: 12">T</span>
                      <span class="span-main-title" style="--i: 13">Y</span
                      >&nbsp;&nbsp;
                      <span class="main-title" style="--i: 14">A</span>
                      <span class="main-title" style="--i: 15">D</span>
                      <span class="main-title" style="--i: 16">M</span>
                      <span class="main-title" style="--i: 17">I</span>
                      <span class="main-title" style="--i: 18">N</span
                      >&nbsp;&nbsp;
                      <span class="main-title" style="--i: 19">P</span>
                      <span class="main-title" style="--i: 20">A</span>
                      <span class="main-title" style="--i: 21">N</span>
                      <span class="main-title" style="--i: 22">E</span>
                      <span class="main-title" style="--i: 23">L</span>

                      <!-- WELCOME TO <span class="span-main-title">XITY</span> ADMIN
                                            PANEL -->
                    </h1>
                    <p class="main-title-subtext">
                      Sign in with Xity Partner account, you can easily add,
                      manage, configure and collaborate with your community.
                      Enjoy!
                    </p>

                    <h2 class="sub-title">
                      The administration shouldn't need a manual – it's easy.
                    </h2>
                    <p class="sub-title-p">
                      FAQ and guides helps you to learn more about managing your
                      location with the Xity Admin Panel.
                    </p>

                    <div class="border-position">
                      <p class="or-p">OR</p>
                      <div class="border-or"></div>
                    </div>
                    <p class="supoort-p-title">
                      If you need help, there's email, chat and phone support.
                    </p>

                    <div class="row">
                      <div class="col-xxl-7 col-xl-8 mx-auto">
                        <div class="row mt-1">
                          <div
                            class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                          >
                            <div class="d-flex justify-content-end">
                              <div class="fafa-div">
                                <img
                                  class="fafa-img"
                                  src="assets/images/icon/email.png"
                                  alt=""
                                />
                              </div>
                              <div class="fafa-content-space">
                                <a class="fafa-content" href=""
                                  >Contact.admin@ornda.com</a
                                >
                              </div>
                            </div>
                          </div>
                          <div
                            class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                          >
                            <div class="d-flex">
                              <div class="fafa-div">
                                <img
                                  class="fafa-img"
                                  src="assets/images/icon/call.png"
                                  alt=""
                                />
                              </div>
                              <div class="fafa-content-space">
                                <a class="fafa-content" href=""
                                  >+91 9845891221</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-12 sec-2-pad section-2">
              <div class="row overflow-section2">
                <%if(message.length > 0){ %>
                <div class="alert alert-success"><%= message %></div>
                <%}%>
                <div
                  class="col-xxl-7 col-lg-9 col-md-6 col-sm-7 col-10 mx-auto"
                >
                  <div class="sec2-content">
                    <div class="login-top">
                      <img
                        class="logo-img"
                        src="assets/images/logo/xitylogo.png"
                        alt=""
                      />
                    </div>
                    <div class="form-section">
                      <!-- <h3 class="form-title">Log in to the account</h3>
                                        <h6 class="form-subtitle">Enter your phone number to login</h6> -->

                      <form class="formset" action="/" method="post">
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"
                            ><img
                              class="input-fafa"
                              src="assets/images/form-icon/Pin.png"
                          /></span>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Pincode"
                            aria-label="Username"
                            id="pincode"
                            name="pincode"
                            aria-describedby="basic-addon1"
                          />
                        </div>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"
                            ><img
                              class="input-fafa"
                              src="assets/images/form-icon/call.png"
                          /></span>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Phone number"
                            aria-label="Username"
                            id="pno"
                            name="pno"
                            aria-describedby="basic-addon1"
                          />
                        </div>
                        <div>
                          <button
                            class="otp-button btn"
                            type="button"
                            onclick="call(event)"
                            ;
                          >
                            Get OTP
                          </button>
                        </div>

                        <div class="row otp-input">
                          <div class="col-2 p-md-2 p-2 text-center mx-auto">
                            <input
                              class="form-control"
                              id="otp1"
                              name="otp1"
                              maxlength="1"
                              onkeyup="clickEvent(this,'otp2')"
                            />
                          </div>
                          <div class="col-2 p-md-2 p-2 text-center mx-auto">
                            <input
                              class="form-control"
                              id="otp2"
                              name="otp2"
                              maxlength="1"
                              onkeyup="clickEvent(this,'otp3')"
                            />
                          </div>
                          <div class="col-2 p-md-2 p-2 text-center mx-auto">
                            <input
                              class="form-control"
                              id="otp3"
                              name="otp3"
                              maxlength="1"
                              onkeyup="clickEvent(this,'otp4')"
                            />
                          </div>
                          <div class="col-2 p-md-2 p-2 text-center mx-auto">
                            <input
                              class="form-control"
                              id="otp4"
                              name="otp4"
                              maxlength="1"
                              onkeyup="clickEvent(this,'otp5')"
                            />
                          </div>
                          <div class="col-2 p-md-2 p-2 text-center mx-auto">
                            <input
                              class="form-control"
                              id="otp5"
                              name="otp5"
                              maxlength="1"
                              onkeyup="clickEvent(this,'otp6')"
                            />
                          </div>
                          <div class="col-2 p-md-2 p-2 text-center mx-auto">
                            <input
                              class="form-control"
                              id="otp6"
                              name="otp6"
                              maxlength="1"
                              onkeyup="clickEvent(this,'signin')"
                            />
                          </div>
                        </div>
                        <p class="resend-otp">Resend OTP in 00:37</p>
                        <button
                          type="submit"
                          id="signin"
                          class="form-submit btn"
                        >
                          Sign In
                        </button>
                      </form>

                      <div class="log-issue-div">
                        <p class="log-issue">Sign In Issues?</p>
                        <div class="border-bot"></div>
                      </div>
                      <div class="mt-2">
                        <a class="contact-admin" href="report.html"
                          >Please contact Admin</a
                        >
                      </div>
                      <div class="mt-3">
                        <a class="register-acc-p" href="/create"
                          >Don't have an account?
                          <span class="register-span"> Register</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="footer">
          <div class="container p-0">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex justify-content-between">
                  <p>© ORNDA ® 2023-23</p>
                  <!--<p>LEGAL</p>-->
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <script src="assets/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="assets/jquery/jquery-3.6.1.min.js"></script>
    <script src="assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script>
      const clickEvent = (first, last) => {
        if (first.value.length) {
          document.getElementById(last).focus();
        }
      };
      const call = (event) => {
        const phone = document.getElementById("pno").value;

        axios
          .post(`http://xitysiteadmin.profcymadev.in:5000/admin-otp/${phone}`)
          .then((res) => {
            console.log(res.data.userExist);
            if (res.data.userExist !== true) {
              location.reload();
            }
          })
          .catch((err) => {
            console.log(err);
          });
      };
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.0/lottie.min.js"
      integrity="sha512-17otjw7eTNU9MtpB7mFfXEwB6yDjA2qjDFkKSvsywI1PRAgpyOo+cp/wPSE/1kK4fFjA9OKsZVO1tr93MGNCEw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
