<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Xitysites</title>
    <link rel="shortcut icon" href="assets/icon/images/" type="image/png" />
    <link rel="stylesheet" href="assets/style/legal-dashboard.css" />
    <link rel="stylesheet" href="assets2/css/admin-dashboard.css" />
    <link rel="stylesheet" href="assets/style/common.css" />
    <link
      rel="stylesheet"
      href="assets/bootstrap-5.0.2-dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/fontawesome-free-6.2.0-web/css/all.css"
    />
    <link
      rel="stylesheet"
      href="assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>

  <body>
    <section class="main">
      <div class="container-fluid p-0">
        <!-- start admin dashboard-section -->
        <section class="admin-dashboard">
          <div class="dashboard p-0">
            <div class="d-flex" id="addFlex">
              <!-- start sidebar section  -->
              <%- include('../../layout/sidebar'); %>

              <!-- end sidebar section  -->

              <!-- start content section  -->
              <div class="sec-2">
                <div class="tab-content" id="v-pills-tabContent">
                  <%- include('../../layout/header'); %>

                  <!-- start breadcrumb section  -->
                  <section class="breadcrumb-section">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="bread-sec1">
                          <h6 class="title">Add Category</h6>
                          <p class="sub-cont">
                            <!-- Lorem Ipsum is simply dummy text of the printing -->
                          </p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="bread-sec2">
                          <nav aria-label="breadcrumb">
                            <ol class="breadcrumb align-bread">
                              <li class="breadcrumb-item">
                                <a href="#"
                                  ><img
                                    class="bread-home"
                                    src="assets2/img/icons/bread-home.png"
                                    alt=""
                                /></a>
                              </li>
                              <li class="breadcrumb-item">
                                <a class="bread-menu" href="https://xitysites.onrender.com/directory/category">Category List</a>
                              </li>
                              <li class="breadcrumb-item" aria-current="page">
                                <a class="bread-menu" href="#">Add Category</a>
                              </li>
                            </ol>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- end breadcrumb section  -->

                  <!-- start main-content section  -->
                  <section class="main-content">
                    <!-- <div class="row row-padd">
                      <div class="col-lg-8">
                        <div class="listing-div">
                          <h6 class="list-title">Add Categories</h6>
                          <p class="list-subtext">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt
                          </p>
                        </div>
                      </div>
                    </div> -->

                    <div class="table-section">
                      <br
                        method="post"
                        action=""
                        class="addsstatus"
                        autocomplete="off"
                        enctype="multipart/form-data"
                      >
                        <div class="row">
                          <div class="col-sm-3">
                            <label class="form-label" for="p_image">Category Name</label>
                            <input
                              type="text"
                              class="form-control input-mandatory"
                              id="p_image"
                              name="image"
                              value=""
                              placeholder="Category Name"
                            />
                          </div>
                          
                          
                        </div>
                      </br>
                        <div class="row">
                          <div class="col-sm-3">
                            <button
                              type="submit"
                              style="float: right"
                              class="btn btn-info px-5"
                            >
                              Save
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </section>
                  <!-- end main-content section  -->
                </div>
              </div>
              <!-- end content section  -->
            </div>
          </div>
        </section>
        <!-- end admin dashboard-section -->
      </div>
    </section>
    <%- include('../../layout/fotermain'); %>
  </body>
</html>
