<!-- start dashboard-header section  -->
<section class="header-bg">
  <div class="row align-row m-0">
    <div class="navbar p-0"></div>
    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-7 col-sm-10 col-12">
      <div class="d-flex">
        <div class="fafa-bar">
          <i
            class="fa fa-bars fafa-bar-img"
            aria-hidden="true"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"
          ></i>
        </div>
        <div>
          <img
            class="header-menu-img"
            src="/assets2/img/icons/max-height.png"
            alt="max-height"
          />
        </div>
        <div>
          <img
            class="header-menu-img"
            src="/assets2/img/icons/notification.png"
            alt="max-height"
          />
        </div>
        <div>
          <img
            class="header-menu-img"
            src="/assets2/img/icons/setting.png"
            alt="max-height"
          />
        </div>
        <div class="navbar dash-drop-menu d-block p-0">
          <img
            class="header-menu-img dropdown-toggle"
            src="/assets2/img/icons/dashboard.png"
            alt="max-height"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          />
          <ul class="dropdown-menu">
            <div class="row">
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/bookmark.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Bookmark</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/chat.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Messages</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/balance.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Balance</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/location.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Country</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/location.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">City</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/location.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Pincode</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/translate.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Language</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/cart.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Cart</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/Layer.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Billing</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/Icon.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Activity</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/call.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Contacts</p>
                </div>
              </div>
              <div class="col-md-3 col-4 col-space">
                <div class="text-center col-bg">
                  <div class="drop-menu-images-div">
                    <img
                      class="drop-menu-images"
                      src="/assets2/img/drodown-menu/locked.png"
                      alt=""
                    />
                  </div>
                  <p class="menu-name">Lock Screen</p>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end dashboard-header section  -->
