<div
  class=""
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-body">
    <div class="sec-1">
      <div
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <div class="align-close">
          <img
            class="close-img"
            src="/assets2/img/icons/close-menu.png"
            alt=""
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          />
        </div>
        <div class="pt-3">
          <div class="d-flex logo-div position">
            <div>
              <img class="logo-img" src="/assets/images/logo/logo.png" alt="" />
            </div>
            <div class="">
              <img
                class="dashbord-dot"
                src="/assets2/img/icons/dashbord-dot.png"
                alt=""
                data-bs-toggle="modal"
                data-bs-target="#full_screen_menu"
                data-toggle="tooltip"
                title="Grid Fullscreen Menu"
                data-bs-placement="bottom"
              />
            </div>
          </div>

          <div class="username-drop-div">
            <div class="accordion accordion-flush" id="accordionFlushExample11">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingUsername">
                  <button
                    class="accordion-button fafa-right collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseUsername"
                    aria-expanded="false"
                    aria-controls=""
                  >
                    <img
                      class="admin-img mt-3"
                      src="/assets/images/user/admin.png"
                      alt=""
                    />

                    <span class="user-p">
                      Username <br />
                      <p class="desig-p">Designation</p>
                    </span>
                  </button>
                </h2>
                <div
                  id="flush-collapseUsername"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingUsername"
                  data-bs-parent="#accordionFlushExample11"
                >
                  <div class="accordion-body mt-3">
                    <div class="d-flex mb-3">
                      <div>
                        <i
                          class="fa fa-user-o users-fafa"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div>
                        <a class="users-p" href="#">Account</a>
                      </div>
                    </div>
                    <div class="d-flex mb-3">
                      <div>
                        <i
                          class="fa fa-user-o users-fafa"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div>
                        <a class="users-p" href="#">My Profile</a>
                      </div>
                    </div>
                    <div class="d-flex mb-3">
                      <div>
                        <i class="fa fa-wallet users-fafa"></i>
                      </div>
                      <div>
                        <a class="users-p" href="#">wallet</a>
                      </div>
                    </div>
                    <div class="d-flex mb-3">
                      <div>
                        <i
                          class="fa fa-inbox users-fafa"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div>
                        <a class="users-p" href="#">Inbox</a>
                      </div>
                    </div>
                    <div class="d-flex mb-3">
                      <div>
                        <i
                          class="fa fa-calendar-minus-o users-fafa"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div>
                        <a class="users-p" href="#">Taskboard/Calender</a>
                      </div>
                    </div>
                    <div class="d-flex mb-3">
                      <div>
                        <i
                          class="fa fa-power-off users-fafa"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div>
                        <a class="users-p" href="#">Signout</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="dash-main-menu">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item tab-heading-01 mt-4">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    id="activeButton"
                    class="accordion-button collapsed scale-in-hor-right addimg"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    <b></b>
                    <b></b>
                    <div class="menu-icon-bg">
                      <img
                        class="dash-menu-icon"
                        src="/assets2/img/icons/home.png"
                        alt=""
                      />
                    </div>
                    <span class="hover-remove-p">Main</span>
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body inner-accordion">
                    <div
                      class="accordion accordion-flush"
                      id="accordionFlushExampleInner1"
                    >
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <a
                            class="menu-link"
                            href="https://xitysites.onrender.com/master/country/"
                          >
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">All Country</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item tab-heading-01">
                <h2 class="accordion-header" id="flush-headingMaster">
                  <button
                    id="activeButton"
                    class="accordion-button collapsed addimg1"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseMaster"
                    aria-expanded="false"
                    aria-controls="flush-collapseMaster"
                  >
                    <b></b>
                    <b></b>
                    <div class="menu-icon-bg">
                      <img
                        class="dash-menu-icon"
                        src="/assets2/img/icons/wallet.png"
                        alt=""
                      />
                    </div>
                    <span class="hover-remove-p"> Master</span>
                  </button>
                </h2>
                <div
                  id="flush-collapseMaster"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingMaster"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body inner-accordion">
                    <div
                      class="accordion accordion-flush"
                      id="accordionFlushExampleInner1"
                    >
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingMaster">
                          <a
                            class="menu-link"
                            href="https://xitysites.onrender.com/master/country"
                          >
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">All Country</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingMaster">
                          <a
                            class="menu-link"
                            href="https://xitysites.onrender.com/master/state"
                          >
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">All State</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingMaster">
                          <a
                            class="menu-link"
                            href="https://xitysites.onrender.com/master/city"
                          >
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">All City</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingMaster">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Pincode</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingMaster">
                          <a class="menu-link" href="frontend.html">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">FrontEnd</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingMaster">
                          <a class="menu-link" href="invoices.html">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Invoices</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingMaster">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">MenuSystem</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item tab-heading-01">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    id="activeButton"
                    class="accordion-button active collapsed addimg1"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    <b></b>
                    <b></b>
                    <div class="menu-icon-bg">
                      <img
                        class="dash-menu-icon"
                        src="/assets2/img/icons/wallet.png"
                        alt=""
                      />
                    </div>
                    <span class="hover-remove-p"> Directory</span>
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body inner-accordion">
                    <div
                      class="accordion accordion-flush"
                      id="accordionFlushExampleInner1"
                    >
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a
                            class="menu-link"
                            href="https://xitysites.onrender.com/directory/category"
                          >
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">All Categories</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a
                            class="menu-link"
                            href="https://xitysites.onrender.com/directory/subcategory"
                          >
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">All Subcategory</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a
                            class="menu-link"
                            href="https://xitysites.onrender.com/directory/childcategory"
                          >
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">All Childcategory</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a
                            class="menu-link"
                            href="https://xitysites.onrender.com/directory/bussiness-user"
                          >
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Business Users</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="frontend.html">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">FrontEnd</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="invoices.html">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Invoices</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">MenuSystem</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button
                    class="accordion-button collapsed addimg2"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    <b></b>
                    <b></b>
                    <div class="menu-icon-bg">
                      <img
                        class="dash-menu-icon"
                        src="/assets2/img/icons/cart.svg"
                        alt=""
                      />
                    </div>
                    <span class="hover-remove-p">Ecommerce</span>
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body inner-accordion">
                    <div
                      class="accordion accordion-flush"
                      id="accordionFlushExampleInner1"
                    >
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button collapsed addimg3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour"
                  >
                    <b></b>
                    <b></b>
                    <div class="menu-icon-bg">
                      <img
                        class="dash-menu-icon"
                        src="/assets2/img/icons/landing-page.png"
                        alt=""
                      />
                    </div>
                    <span class="hover-remove-p">Ecommerce</span>
                  </button>
                </h2>
                <div
                  id="flush-collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFour"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body inner-accordion">
                    <div
                      class="accordion accordion-flush"
                      id="accordionFlushExampleInner1"
                    >
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button
                    class="accordion-button collapsed addimg4"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseFive"
                  >
                    <b></b>
                    <b></b>
                    <div class="menu-icon-bg">
                      <img
                        class="dash-menu-icon"
                        src="/assets2/img/icons/apps.png"
                        alt=""
                      />
                    </div>
                    <span class="hover-remove-p">Apps</span>
                  </button>
                </h2>
                <div
                  id="flush-collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="flush-headingFive"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body inner-accordion">
                    <div
                      class="accordion accordion-flush"
                      id="accordionFlushExampleInner1"
                    >
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <a class="menu-link" href="">
                            <button
                              class="accordion-button without-drop-accordion-button-inner collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target=""
                              aria-expanded="false"
                              aria-controls=""
                            >
                              <img
                                class="dash-menu-icon"
                                src="/assets/images/icon/bit.png"
                                alt=""
                              />
                              <span class="overview-p">Overview</span>
                            </button>
                          </a>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="made-div">
            <p class="year-p">© Ornda 2023-23 ®</p>
            <p class="made-p">Made with Gudvil</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
